@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* custom properties (css variables) */
:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
  --gray-fill: #f6f7fb;
}

/* universal selector */
* {
  /* padding/margin doesn't stack/affect overall width */
  box-sizing: border-box;
}

body {
  background-color: var(--gray-fill);
  font-family: 'Muli', sans-serif;
  /* center content */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
  animation: fadeIn 1.5s forwards;
  animation-delay: 0.5s;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

/* gray line behind blue bar */
.progress-container::before {
  /* need to add 'content' when using ::before or ::after */
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  /* put middle of blue bar in the middle (not the top of the bar) */
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  /* put bar behind blue bar */
  z-index: -2;
}

/* blue bar */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  /* put middle of blue bar in the middle (not the top of the bar) */
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  /* put bar behind numbers */
  z-index: -1;
  transition: 0.4s ease;
}

/* circles */
.circle {
  background-color: var(--gray-fill);
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  /* makes div into a circle */
  border-radius: 50%;
  height: 30px;
  width: 30px;
  /* centers the circle around text content */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
  color: var(--line-border-fill);
  background-color: floralwhite;
  font-size: 1rem;
  transition: 0.4s ease 0.4s;
}

.btn {
  background-color: var(--line-border-fill);
  color: floralwhite;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 9px 30px;
  margin: 5px;
  font-size: 1rem;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
